<h1><span class="general">My Trees</span></h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Variety</th>
      <th>Tree source</th>
      <th>Plant date</th>
      <th>Plant quantity</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trees.each do |tree| %>
      <tr>
        <td><%= tree.tree_type %></td>
        <td><%= tree.variety %></td>
        <td><%= tree.tree_source %></td>
        <td><%= tree.plant_date %></td>
        <td><%= tree.plant_quantity %></td>
        <td><%= tree.notes %></td>
        <td><%= link_to 'Show', orchard_tree_path(@orchard, tree) %></td>
        <td><%= link_to 'Edit', edit_orchard_tree_path(@orchard, tree) %></td>
        <td><%= link_to 'Destroy', [@orchard, tree], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
  <%= link_to 'New Tree', { :action => 'new', :orchard_id => @orchard.id } %>
  <%= link_to 'Back', orchard_path(@orchard) %>
</div>