<h1><span class="general">My Plants</span></h1>

<div class="text-center">
  <p>You have <%= pluralize(@plants.size, "plant") %> in this garden.</p>
</div>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Variety</th>
      <th>Seed source</th>
      <th>Date planted</th>
      <th>Quantity planted</th>
      <th>Expected harvest date</th>
      <th>Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.plant_type %></td>
        <td><%= plant.variety %></td>
        <td><%= plant.seed_source %></td>
        <td><%= plant.plant_date.strftime("%B %d") %></td>
        <td><%= plant.plant_quantity %></td>
        <td><%= harvest_date(plant) %></td>
        <td><%= plant.notes %></td>
        <td><%= link_to 'View', garden_plant_path(@garden, plant) %> <br />
            <%= link_to 'Edit', edit_garden_plant_path(@garden, plant) %> <br />
            <%= link_to 'Pull', [@garden, plant], method: :delete, data: { confirm: 'Are you sure you want to delete this plant?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class ="text-center ">
  <%= link_to 'New Plant', { :action => 'new', :garden_id => @garden.id } %> |   
  <%= link_to 'Back', gardens_path %>
</div>