<h1><span class="general">Plants in <%= @garden.name %></span></h1>

<table>
  <thead>
    <tr>
      <th>Family</th>
      <th>Variety</th>
      <th>Seed source</th>
      <th>Quantity</th>
      <th>Notes</th>
      <th>Plant date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.family %></td>
        <td><%= plant.variety %></td>
        <td><%= plant.seed_source %></td>
        <td><%= plant.quantity %></td>
        <td><%= plant.notes %></td>
        <td><%= plant.plant_date %></td>
        <td><%= link_to 'Show', garden_plant_path(@garden, plant) %><br />
            <%= link_to 'Edit', edit_garden_plant_path(@garden, plant) %><br />
            <%= link_to 'Destroy', [@garden, plant], method: :delete, data: { confirm: 'Are you sure you want to delete this plant?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
  <%= link_to 'Back to the garden', gardens_path %> | 
  <%= link_to 'Plant a seed', new_garden_plant_path %>
</div>