<h1>Plants</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Variety</th>
      <th>Seed source</th>
      <th>Plant Date</th>
      <th>Plant Quantity</th>
      <th>Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.type %></td>
        <td><%= plant.variety %></td>
        <td><%= plant.seed_source %></td>
        <td><%= plant.plant_date %></td>
        <td><%= plant.plant_quantity %></td>
        <td><%= plant.notes %></td>
        <td><%= link_to 'Show', garden_plant_path(@garden, plant) %></td>
        <td><%= link_to 'Edit', edit_garden_plant_path(@garden, plant) %></td>
        <td><%= link_to 'Destroy', [@garden, plant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', { :action => 'new', :garden_id => @garden.id } %>
