<h1><span class="general">Plants (All Gardens)</span></h1>

<table>
  <thead>
    <tr>
      <th>Garden</th>
      <th>Family</th>
      <th>Variety</th>
      <th>Seed source</th>
      <th>Quantity</th>
      <th>Notes</th>
      <th>Plant date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <% garden = Garden.find(plant.garden_id) %>
        <td><%= garden.name %></td>
        <td><%= plant.family %></td>
        <td><%= plant.variety %></td>
        <td><%= plant.seed_source %></td>
        <td><%= plant.quantity %></td>
        <td><%= plant.notes %></td>
        <td><%= plant.plant_date %></td>
        <td><%= link_to 'Show', garden_plant_path(plant.garden_id, plant) %><br />
            <%= link_to 'Edit', edit_garden_plant_path(plant.garden_id, plant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

