<p id="notice"><%= notice %></p>

<p>
  <strong>Family:</strong>
  <%= @plant.family %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @plant.variety %>
</p>

<p>
  <strong>Seed source:</strong>
  <%= @plant.seed_source %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @plant.quantity %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @plant.notes %>
</p>

<p>
  <strong>Plant date:</strong>
  <%= @plant.plant_date %>
</p>

<div class="text-center">
<%= link_to 'Edit', edit_garden_plant_path(@garden, @plant) %> |
<%= link_to 'Delete', [@garden, @plant], confirm: "Are you sure you want to delete this plant?", :method => :delete %> |
<%= link_to 'Back', garden_plants_path %>
</div>