<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @plant.plant_type %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @plant.variety %>
</p>

<p>
  <strong>Seed source:</strong>
  <%= @plant.seed_source %>
</p>

<p>
  <strong>Date Planted:</strong>
  <%= @plant.plant_date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @plant.plant_quantity %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @plant.notes %>
</p>

<div class="text-center">
  <%= link_to 'Edit', edit_garden_plant_path(@garden, @plant) %> |
  <%= link_to 'Back', garden_plants_path(@garden) %>
</div>