<h1><span class="general">My Orchards</span></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orchards.each do |orchard| %>
      <tr>
        <td><%= orchard.name %></td>
        <td><%= orchard.description %></td>
         <td><%= link_to 'View trees', {:controller => 'trees', :orchard_id => orchard.id} %></td>
        <td><%= link_to 'Show', orchard %></td>
        <td><%= link_to 'Edit', edit_orchard_path(orchard) %></td>
        <td><%= link_to 'Destroy', orchard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
  <%= link_to 'New Orchard', new_orchard_path %>
</div>