<%= form_for(@garden) do |f| %>
  <% if @garden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garden.errors.count, "error") %> prohibited this garden from being saved:</h2>

      <ul>
      <% @garden.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :season %><br>
    <%= f.text_field :season %>
  </div>
    <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
