<h1><span class="general">My Gardens</span></h1>

<table>
  <thead>
    <tr>
      <th>Season</th>
      <th>Year</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gardens.each do |garden| %>
      <tr>
        <td><%= garden.season %></td>
        <td><%= garden.year %></td>
        <td><%= garden.name %></td>
        <td><%= garden.description %></td>
        <td><%= link_to 'View Plants', garden_plants_path(garden)%></td>
        <td><%= link_to 'Plant a Seed', new_garden_plant_path(garden)%></td>
        <td><%= link_to 'Show', garden %><br />
            <%= link_to 'Edit', edit_garden_path(garden) %><br />
            <%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure you want to destroy this garden?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="text-center">
  <%= link_to 'New Garden', new_garden_path %>
</div>