<header class="navbar navbar-fixed-top navbar-default">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Cultivate", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<div class="dropdown">
	   				 
	   				 <a data-target="#" href="<%= gardens_path %>" data-toggle="dropdown" class="dropdown-toggle">Garden <b class="caret"></b></a>
		   				
		   				<ul class="dropdown-menu">
				        
				        <li><a href="<%= gardens_path %>">My Gardens</a></li>
				        <li><a href="#">My Trees</a></li>
				        <li><a href="#">My Seedlings</a></li>
				        <li><a href="#">Seed Bank</a></li>
				        <li class="divider"></li>
						    <li><%= link_to "Browse Gardens", gardens_path %></li>
						  
						  </ul>   

						</div>
					</li>
					<li>
						<div class="dropdown">
	   				 
	   				 <a data-target="#" href="#" data-toggle="dropdown" class="dropdown-toggle">Barnyard<b class="caret"></b></a>
		   				
		   				<ul class="dropdown-menu">
				        
				        <li><a href="#">My Chickens</a></li>
				        <li><a href="#">My Goats</a></li>
				        <li><a href="#">My Sheep</a></li>
				        <li class="divider"></li>
						    <li><%= link_to "Browse Barnyards", "#" %></li>
						  
						  </ul>   

						</div>
					</li>
					<li>	
						<div class="dropdown">
	   				 
	   				 <a data-target="#" href="#" data-toggle="dropdown" class="dropdown-toggle">Porch<b class="caret"></b></a>
		   				
		   				<ul class="dropdown-menu">
				        
				        <li><a href="#">Messages</a></li>
				        <li><a href="#">Forum</a></li>
				        <li><a href="#">Random Advice</a></li>

						  </ul>   

						</div>
					</li>

					<li>

				<% if user_signed_in? %>	

				<div class="dropdown">
	   				 
	   				 <a data-target="#" href="#" data-toggle="dropdown" class="dropdown-toggle">My Account <b class="caret"></b></a>
		   				
		   				<ul class="dropdown-menu">
				        
				        <li><a href="#">Profile</a></li>
				        <li><a href="#">Reminders</a></li>
				        <li><a href="#">My Farms</a></li>				        
				        <li class="divider"></li>
						    <li><a href="#">Help</a></li>
						  </ul>   

				</div>

				<li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
					<% else %>
						<div class="dropdown">
	   				 
	   				<%= link_to 'Log in <b class="caret"></b>'.html_safe, root_path, :id => 'setupdrop', :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' %>
		   				
		   				<ul class="dropdown-menu">
				         <li><%= link_to "Sign in", new_user_session_path %></li>
				        <li><a href="#">Username</a></li>
				        <li><a href="#">Password</a></li>
				        
				        <li class="divider"></li>
						    <li><%= link_to "Sign up", new_user_registration_path %></li>
						    <li><a href="#">Help</a></li>
						  </ul>   

						</div>
					<% end %>

					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>