<header class="navbar navbar-fixed-top navbar-default">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Cultivate", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Garden", garden_path %></li>
					<li><%= link_to "Barnyard", '#' %></li>
					<li><%= link_to "Porch", '#' %></li>
					<li><%= link_to "Log in", "#" %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>