<!DOCTYPE html>
<html>
	<head>
	  <title>Cultivate</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="navbar navbar-fixed-top navbar-default">
			<div class="navbar-inner">
				<div class="container">
						<%= link_to "Cultivate", root_path, id: "logo" %>
					<nav>
						<ul class="nav pull-right">
							<li><%= link_to "Home", root_path %></li>
							<li><%= link_to "Garden", garden_path %></li>
							<li><%= link_to "Go Green!", root_path(go_green: 1) %></li>
							<li><%= link_to "Log in", "#" %></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
