<!DOCTYPE html>
<html>
	<head>
	  <title>Cultivate</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<style type="text/css">
		  .cover {
		    background: url(<%= random_background %>) no-repeat center center fixed; 
		      -webkit-background-size: cover;
				  -moz-background-size: cover;
				  -o-background-size: cover;
				  background-size: cover;
		  }
		</style>
	</head>
	<body class="cover">
		<%= render 'layouts/header' %>
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
			<%= yield %>
		<%= render 'layouts/footer' %>
	</body>
</html>
